* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 90%;
}

body {
    font-size: 1.5rem;
    color: #333;
    background-color: #ce9191;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fbfbfb;
    box-shadow: 2px .8rem 1rem rgba(0, 0, 0, .25);
    border-radius: 25px;
}

.card_image {
    position: relative;
    height: 20rem;
    overflow: hidden;
}

.card_image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}

.card:hover .card_image img {
    transform: scale(1.4);
}

.card_info {
    position: relative;
    padding: 2rem 3rem;
}

.card_title {
    font-size: 3rem;
    text-transform: capitalize;
}

.card_title_2 {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #adaaaa;
    margin-bottom: 1rem;
}

.card_target {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #ce9191;
    margin-top: 2rem;
}

.card_target span {
    display: inherit;
    transition: transform .2s;
    margin-left: .3em;
}

.card_target:hover span {
    transform: translateX(.5rem);
}
